.content {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.icon {
    text-align: center;
    padding: 0 30px;
}

.con-title {
    font: 22px 'OpenSans Bold', sans-serif;
    margin-top: 32px;
    font-weight: bold;
    color: #4D4D4D;
}

.con-text {
    font: 14px 'OpenSans Regular', sans-serif;
    margin: 34px 0 100px;
}

.container {
    text-align: center;

}

.container-title {
    font: 30px 'OpenSans Bold', sans-serif;
    text-transform: uppercase;
    margin-top: 82px;
    color: #4D4D4D;
}

.container-text {
    font: 16px 'OpenSans Bold', sans-serif;
    margin: 13px 0 100px;
}

.title-recent-work {
    font: 30px 'OpenSans Semibold', sans-serif;
    margin: 89px 0 75px;
    color: #4D4D4D;
}

.recent-work {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.recent-work1, .recent-work2, .recent-work3, .recent-work4 {
    width: 262px;
    height: 320px;
}

.recent-work1 {
    background-image: url(../images/rec_w1.jpg);
}

.recent-work2 {
    background-image: url(../images/rec_w2.jpg);
}

.recent-work3 {
    background-image: url(../images/rec_w3.jpg);
}

.recent-work4 {
    background-image: url(../images/rec_w4.jpg);
}

.recent-title {
    font: 20px 'OpenSans BoldItalic';
    color: #D2D1D1;
    margin-top: 140px;
    font-style: italic;
}

.recent-text {
    color: #D2D1D1;
}

.subscribe {
    background-color: #F5F5F5;
    padding: 94px;
}

.subscribers-title {
    font: 30px 'OpenSans Semibold', sans-serif;
    color: #4D4D4D;
    text-transform: uppercase;
}

.subscribers-text {
    font: 14px 'OpenSans Regular', sans-serif;
    color: #717171;
    margin: 25px 0 49px;
}

.subscribe-button{
    font: 16px 'OpenSans Bold', sans-serif;
    color: #4D4D4D;
    border: 2px solid #4D4D4D;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 42px;
    text-decoration: none;
}