.content {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.icon {
    text-align: center;
    padding: 0 30px;
}

.con-title {
    font: 22px 'OpenSans Bold', sans-serif;
    margin-top: 32px;
    font-weight: bold;
    color: #4D4D4D;
    letter-spacing: 0.5px;
}

.con-text {
    font: 14px 'OpenSans Regular', sans-serif;
    margin: 34px 0 100px;
}

.container {
    text-align: center;
    border-top: 1px solid #E7E7E7;
}

.container-title {
    font: 30px 'OpenSans Bold', sans-serif;
    text-transform: uppercase;
    margin-top: 82px;
    color: #4D4D4D;
    letter-spacing: 0.9px;
}

.container-text {
    font: 16px 'OpenSans Bold', sans-serif;
    margin: 13px 0 100px;
}

.title-recent-work {
    font: 30px 'OpenSans Semibold', sans-serif;
    margin: 89px 0 75px;
    color: #4D4D4D;
}

.recent-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.recent-work1, .recent-work2, .recent-work3, .recent-work4 {
    width: 262px;
    height: 320px;
    display: block;
    position: relative;
    text-decoration: none;
}

.recent-work1 {
    background-image: url(../images/rec_w1.jpg);
}

.recent-work2 {
    background-image: url(../images/rec_w2.jpg);
}

.recent-work3 {
    background-image: url(../images/rec_w3.jpg);
}

.recent-work4 {
    background-image: url(../images/rec_w4.jpg);
}

.recent-work1:hover .brand-project-1, .recent-work2:hover .brand-project-2, .recent-work3:hover .brand-project-3, .recent-work4:hover .brand-project-4{
    visibility: visible;
}

.recent-title {
    font: 20px 'OpenSans BoldItalic';
    color: #D2D1D1;
    margin-top: 140px;
    font-style: italic;
}

.recent-text {
    color: #D2D1D1;
}

.brand-project-1, .brand-project-2, .brand-project-3, .brand-project-4 {
    text-decoration: none;
    color: #ffffff;
    font: 16px 'OpenSans Semibold', sans-serif;
    background-color: #575757;
    height: 60px;
    line-height: 60px;
    width: 262px;
    margin-top: 81px;
    visibility: hidden;
    position: absolute;
    bottom: 0;
}

.subscribe {
    margin: 0 auto;
    text-align: center;
    background-color: #F5F5F5;
    padding: 94px;
}

.subscribers-title {
    font: 30px 'OpenSans Semibold', sans-serif;
    color: #4D4D4D;
    text-transform: uppercase;
}

.subscribers-text {
    font: 14px 'OpenSans Regular', sans-serif;
    color: #717171;
    margin: 25px 0 49px;
    letter-spacing: 0.9px;
}

.subscribe-button{
    font: 16px 'OpenSans Bold', sans-serif;
    font-weight: bold;
    color: #4D4D4D;
    border: 2px solid #4D4D4D;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 42px;
    text-decoration: none;
}

.subscribe-button:hover {
    background-color: #55ACEE;
}