.soc-icons {
    text-align: center;
    margin: 40px 0;
}

.soc-link {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 70px;
    border: 2px solid #4D4D4D;
    margin: 30px;
}

footer {
    background-color: #3B3B3B;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 97px 0 88px;
}

.footer-title {
    font: 18px 'OpenSans Semibold', sans-serif;
    color: #ffffff;
}

.footer-location, .footer-company, .footer-support, .footer-minima {
    color: #ffffff;
    /*text-align: center;*/
    width: 238px;
}

.footer-title {
    margin-bottom: 23px;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 14px;
}