.soc-icons {
    text-align: center;
    margin: 67px 0 68px;
}

.soc-link {
    display: inline-block;
    height: 66px;
    line-height: 66px;
    width: 66px;
    border: 2px solid #4D4D4D;
    margin: 30px;
}

.soc-link:hover {
    background-color: #55ACEE;
    border: 2px solid #55ACEE;
}

footer {
    background-color: #3B3B3B;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 97px 0 88px;
}

.footer-title {
    font: 18px 'OpenSans Semibold', sans-serif;
    color: #ffffff;
}

.footer-location, .footer-company, .footer-support, .footer-minima {
    color: #ffffff;
    width: 238px;
}

.footer-title {
    margin-bottom: 23px;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 14px;
}

.footer-link:hover {
    border-bottom: 1px solid #ffffff;
    margin-top: 5px;
}

.footer-location, .footer-minima {
    line-height: 24px;
}

.footer-gray-link {
    text-decoration: none;
    border-bottom: 1px solid #B5B5B5;
}

.footer-gray-link, .footer-phone {
    color: #B5B5B5;
}

.footer-text-down {
    margin-top: 12px;
    display: inline-block;
}