footer {
    background-color: #3B3B3B;
}

.footer-info {
    display: flex;
    justify-content: center;
}

.footer-title {
    font: 18px 'OpenSans Semibold', sans-serif;
    color: #ffffff;
}

.footer-location, .footer-company, .footer-support, .footer-minima {
    color: #ffffff;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
}