header {
    margin: 0 auto;
    height: 130px;
}

.logo {
    float: left;
    height: 28px;
    width: 119px;
    background-image: url(../images/logo.png);
    margin: 51px 0 0 0;
}

.navigation {
    float: right;
    margin: 52px 0 0 0;
}

.nav-link {
    text-decoration: none;
    color: #4D4D4D;
    margin: 15px 25px;
    font: 18px 'OpenSans Regular', sans-serif;
}

.nav-link:hover {
    border-bottom: 1px solid #4D4D4D;
    margin-bottom: 3px;
}

.billboard {
    background-image: url(../images/billboard.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 218px 0 248px 0;
}

.title {
    font: 50px 'Satellite Regular', sans-serif;
    letter-spacing: -0.5px;
}

.text {
    font: 16px 'OpenSans Regular', sans-serif;
    margin-top: 18px;
    letter-spacing: 1.2px;
}

.button {
    color: #fff;
    font: 18px 'OpenSans Semibold', sans-serif;
    background-color: #4D4D4D;
    display: inline-block;
    padding: 15px 90px;
    border-radius: 30px;
    margin-top: 38px;
    text-decoration: none;
}

.button:hover {
    background-color: #55ACEE;
}

.button:hover {
    cursor: pointer;
}

.clear-self {
    content: '';
    display: block;
    clear: both;
}